<div class="container">
	<div class="row">
		<div class="col-4 site-logo">
			<h1>CÚRTS A. D'AMOUR</h1>
			<p>Marketing . Video . Graphic</p>
		</div>
		<div class="col-8 nav-bar">
			<%= link_to "Video Gallery",{:controller => "home", :action => "video"} %>
			<%= link_to "Photo Gallery",{:controller => "home", :action => "portfolio"} %>
			<%= link_to "Graphic Gallery",{:controller => "home", :action => "graphics"} %>
			<%= link_to "Campaigns",{:controller => "home", :action => "projects"} %>
			<%= link_to "Cúrts",{:controller => "home", :action => "about"} %>
			<%= link_to "Contact",{:controller => "home", :action => "contact"} %>
		</div>
	</div>
	<div class="row content">
		<div class="col-6">
			<h4>Know The Artist</h4>
			<p>Born out of Queens, New York I quickly made the busy city my playground. As a child my mother would take me with her on little trips into the city, I lived in those moments of color, shape, form, and texture. Eye's fixated on every detail my passion was born and took life in the arts. I started off drawing wild little ideas then turning them over into grand pieces, each piece helping me understand the human form, composition of an image, the drama of lighting, and etc, at an early age. This also gave way to creative problem solving skills in my adolescence, taking on High School group projects as team leader. I spent my time homing my art skills as well as real world experiences, freelancing, internships., odd gigs and jobs.</p>
			<p>Having graduated with a Bachelor's degree in Computer Science, majoring in CGI animation and production as well as a minor in Digital Graphics, gave me the necessary skills needed in Photography, Lighting, Concept Design and Development, Pre-production, and Pipeline Planning. I've successfully handled a multitude of projects from Music Videos, Video editing, Photo-Shoots, Photo-editing, Video Game asset creation, Website Layout Creation, and Logo creation. These rewards are a direct result of my expertise in media, digital art, and my commitment to personal and professional growth, Every day is the opportunity to make something better, clearer, more appealing, and for lack of a better word "just more". Work that into your time constraints and let the magic come to life.</p>
			<br>
			<p><strong>Clients</strong>
				<br>
				XEX Mag, Dog Fish Motion Pictures, The Lip Bar cosmetics, BMW African Fashion Week, Face to Face Africa.
			</p>
		</div>
		<div class="col-6">slick carousel</div>
	</div>
</div>